<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PrivyTalk</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .messages::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body>
    <div
      id="username"
      class="h-screen w-full bg-zinc-800 flex justify-center items-center p-5"
    >
      <div
        class="rounded-xl p-5 bg-gradient-to-tr from-zinc-800 via-zinc-700 to-zinc-800 text-white shadow-sm shadow-slate-300"
      >
        <h3 class="font-bold text-green-400 text-3xl my-5 text-center">
          Welcome to PrivyTalk
        </h3>
        <p class="text-zinc-400 text-center">
          Join the chat and start connecting with others!
        </p>
        <form class="my-5 flex flex-col gap-3">
          <input
            type="text"
            required
            class="px-3 py-3 rounded-xl bg-transparent border-2 border-zinc-400 outline-green-500"
            placeholder="Enter your name"
          />
          <button
            class="bg-gradient-to-br from-green-900 via-green-700 to-green-500 hover:opacity-75 rounded-xl py-3"
          >
            Join chat
          </button>
        </form>
      </div>
    </div>
    <div
      id="chat"
      class="flex hidden min-h-screen bg-zinc-800 text-white items-center justify-center p-5 flex-col gap-2"
    >
      <div
        class="h-[80vh] border-2 border-zinc-600 rounded-md lg:w-1/2 sm:w-3/4 w-full flex flex-col justify-between"
      >
        <div class="messages overflow-auto p-5 flex flex-col w-full"></div>
        <form
          action=""
          class="msgform border-2 border-zinc-600 rounded-md px-2 py-1 flex gap-2"
        >
          <input
            type="text"
            placeholder="Enter your message..."
            class="bg-transparent outline-none flex-1"
            required
          />
          <button class="px-3 py-2 rounded-md bg-green-500 text-black">
            Send
          </button>
        </form>
      </div>
      <div
        class="users p-2 border-2 border-zinc-600 lg:h-[80%] lg:w-1/4 w-full sm:w-3/4 lg:absolute left-0 rounded-md overflow-y-auto hidden"
      >
        <h3 class="text-center text-green-500 text-lg my-2">Online Users</h3>
        <div class="usersMain"></div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const usernameDiv = document.querySelector("#username");
      const chatDiv = document.querySelector("#chat");
      const msgdiv = document.querySelector(".messages");
      const usersDiv = document.querySelector(".usersMain");
      let username = "Unknown";

      document.addEventListener("DOMContentLoaded", (ev) => {
        document.querySelector("#username form input").value =
          localStorage.getItem("username");
      });

      document
        .querySelector("#username form")
        .addEventListener("submit", (evt) => {
          evt.preventDefault();
          usernameDiv.classList.add("hidden");
          chatDiv.classList.remove("hidden");
          document.querySelector(".users").classList.remove("hidden");
          username = document.querySelector("#username form input").value;
          localStorage.setItem("username", username);
          socket.emit("username", username);
        });

      socket.on("user joined", (data) => {
        msgdiv.innerHTML += `<p
            class="incoming self-center text-green-500 rounded-md my-1"
          ><span class="font-semibold">${data.username}</span> joined the chat!</p>`;
        usersDiv.innerHTML = "";
        data.users.forEach((user) => {
          usersDiv.innerHTML += `<div
          class="user bg-zinc-700 font-semibold rounded-md px-3 py-2 my-2 text-lg"
        >
          ${user}
        </div>`;
          msgdiv.scrollTop = msgdiv.scrollHeight;
        });
      });

      document.querySelector("#chat form").addEventListener("submit", (evt) => {
        evt.preventDefault();
        let msgInput = document.querySelector("#chat form input");
        let msg = msgInput.value;
        msgInput.value = "";
        msgdiv.innerHTML += `<p
            class="outgoing self-end bg-green-700 text-md p-2 rounded-xl rounded-tr-none mb-1 max-w-[75%] text-md break-all"
          >${msg}
          </p>`;
        msgdiv.scrollTop = msgdiv.scrollHeight;

        socket.emit("chat message", { msg, username });
      });

      let tid;
      document.addEventListener("visibilitychange", (evt) => {
        if (document.hidden) {
          tid = setTimeout(() => {
            window.location.reload();
          }, 15000);
        } else {
          clearTimeout(tid);
        }
      });

      socket.on("chat message", (data) => {
        console.log(data);
        msgdiv.innerHTML += `
        <h3 class="text-zinc-400 font-semibold text-sm">${data.username}</h3>
        <p
            class="incoming self-start bg-zinc-500 p-2 rounded-xl rounded-tl-none mb-1 max-w-[75%] text-md break-all"
          >
            ${data.msg}
          </p>`;
        msgdiv.scrollTop = msgdiv.scrollHeight;
      });

      socket.on("user left", (data) => {
        msgdiv.innerHTML += `<p
            class="incoming self-center text-red-500 rounded-md my-1"
          ><span class="font-semibold">${data.username}</span> left the chat!</p>`;
        msgdiv.scrollTop = msgdiv.scrollHeight;

        usersDiv.innerHTML = "";
        data.users.forEach((user) => {
          usersDiv.innerHTML += `<div
          class="user bg-zinc-700 font-semibold rounded-md px-3 py-2 my-2 text-lg"
        >
          ${user}
        </div>`;
        });
      });
    </script>
  </body>
</html>
