<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PrivyTalk</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .messages::-webkit-scrollbar {
        display: none;
      }
      .users::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body>
    <div
      id="username"
      class="h-screen w-full bg-zinc-800 flex justify-center items-center p-5"
    >
      <div
        class="rounded-xl p-5 bg-gradient-to-tr from-zinc-800 via-zinc-700 to-zinc-800 text-white shadow-sm shadow-slate-300"
      >
        <h3 class="font-bold text-green-400 text-3xl my-5 text-center">
          Welcome to PrivyTalk
        </h3>
        <p class="text-zinc-400 text-center">
          Join the chat and start connecting with others!
        </p>
        <form class="my-5 flex flex-col gap-3">
          <input
            type="text"
            required
            class="px-3 py-3 rounded-xl bg-transparent border-2 border-zinc-400 outline-green-500"
            placeholder="Enter your name"
          />
          <button
            class="bg-gradient-to-br from-green-900 via-green-700 to-green-500 hover:opacity-75 rounded-xl py-3"
          >
            Join chat
          </button>
        </form>
      </div>
    </div>
    <div
      id="chat"
      class="flex h-[100dvh] bg-zinc-800 text-white flex-col gap-2 md:flex-row md:justify-center md:items-center hidden"
    >
      <div
        class="users h-[25%] bg-zinc-700 rounded-md overflow-y-auto md:h-[75%] md:w-1/4"
      >
        <h3 class="text-center text-sky-400 text-lg md:my-2">Online Users</h3>
        <div class="usersMain px-3"></div>
      </div>
      <div
        class="h-[75%] bg-zinc-700 flex flex-col justify-between rounded-md overflow-hidden md:w-1/2"
      >
        <div
          class="messages overflow-auto px-3 py-2 bg-zinc-600 flex-1 flex flex-col"
        ></div>
        <form class="msgform px-3 py-2 flex gap-2">
          <input
            type="text"
            placeholder="Enter your message..."
            class="bg-transparent outline-none flex-1"
            required
          />
          <button
            class="rounded-full bg-amber-400 px-3 py-2 text-black flex justify-center items-center"
          >
            <i class="ri-send-plane-2-fill text-xl"></i>
          </button>
        </form>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const usernameDiv = document.querySelector("#username");
      const chatDiv = document.querySelector("#chat");
      const msgdiv = document.querySelector(".messages");
      const usersDiv = document.querySelector(".usersMain");
      let username = "Unknown";

      document.addEventListener("DOMContentLoaded", (ev) => {
        document.querySelector("#username form input").value =
          localStorage.getItem("username");
      });

      document
        .querySelector("#username form")
        .addEventListener("submit", (evt) => {
          evt.preventDefault();
          usernameDiv.classList.add("hidden");
          chatDiv.classList.remove("hidden");
          document.querySelector(".users").classList.remove("hidden");
          username = document.querySelector("#username form input").value;
          localStorage.setItem("username", username);
          socket.emit("username", username);
        });

      socket.on("user joined", (data) => {
        msgdiv.innerHTML += `
        <div class="joined self-center text-green-500 my-1 tracking-tight">
            <span class="font-bold">${data.username}</span> joined the chat!
        </div>
        `;
        usersDiv.innerHTML = "";
        data.users.forEach((user) => {
          usersDiv.innerHTML += `
          <div class="bg-gray-500 rounded-3xl p-2 my-2">${user}</div>
        `;
          msgdiv.scrollTop = msgdiv.scrollHeight;
        });
      });

      document.querySelector("#chat form").addEventListener("submit", (evt) => {
        evt.preventDefault();
        let msgInput = document.querySelector("#chat form input");
        let msg = msgInput.value;
        msgInput.value = "";
        msgdiv.innerHTML += `
        <div
            class="outgoing self-end max-w-[75%] bg-emerald-500 rounded-3xl rounded-tr-none p-2 mb-1"
          >
            <p class="break-words">${msg}</p>
          </div>
        `;
        msgdiv.scrollTop = msgdiv.scrollHeight;

        socket.emit("chat message", { msg, username });
      });

      let tid;
      document.addEventListener("visibilitychange", (evt) => {
        if (document.hidden) {
          tid = setTimeout(() => {
            window.location.reload();
          }, 15000);
        } else {
          clearTimeout(tid);
        }
      });

      socket.on("chat message", (data) => {
        console.log(data);
        msgdiv.innerHTML += `
        <div class="incoming self-start max-w-[75%] mb-2">
            <h3 class="text-gray-300 font-semibold text-sm">${data.username}</h3>
            <p
              class="bg-zinc-400 p-2 rounded-3xl rounded-tl-none break-words w-fit"
            >${data.msg}</p>
          </div>
        `;
        msgdiv.scrollTop = msgdiv.scrollHeight;
      });

      socket.on("user left", (data) => {
        msgdiv.innerHTML += `
          <div class="left self-center text-rose-400 my-1 tracking-tight">
            <span class="font-bold">${data.username}</span> left the chat!
          </div>
        `;
        msgdiv.scrollTop = msgdiv.scrollHeight;

        usersDiv.innerHTML = "";
        data.users.forEach((user) => {
          usersDiv.innerHTML += `
          <div class="bg-gray-500 rounded-3xl p-2 my-2">${user}</div>
        `;
        });
      });
    </script>
  </body>
</html>
